.main-div {
  display: flex;
  justify-content: space-around;
}

.instructions {
  width: 400px;
  height: 400px;
  border: 5px solid white;
  background: #FEBBBB;
  position: relative;
}

.instructions img {
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 110px;
}

.canvas-container {
  width: 800px;
  height: 400px;
  border: 5px solid lightcoral;
  position: relative;
}

.canvas-container canvas {
  position: absolute;
  bottom: 50px;
  right: 170px ;
}
