body {
  // background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(254,187,187,1) 100%);
  background: url('../images/gradient.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.main-div {
  display: flex;
  justify-content: space-between;
}

.instructions {
  width: 600px;
  height: 400px;
  position: relative;
  text-align: center;
}

.instructions h1 {
  font-family: 'Hammersmith One';
  font-size: 50px;
  padding-top: 40px;
  text-shadow:
		-1px -1px 0 white,
		1px -1px 0 white,
		-1px 1px 0 white,
		1px 1px 0 white;
}

.instructions img {
  position: absolute;
  bottom: -50px;
  left: -25px;
  width: 600px;
  z-index: -1;
}

.instructions button {
  position: absolute;
  bottom: 3px;
  right: 160px;
  width: 110px;
  height: 40px;
  border-radius: 20px;
  font-family: 'Hammersmith One';
  font-size: 20px;
  transition: .2s;
}

.instructions button:hover {
  cursor: pointer;
  background: lightcoral;
  color: white;
}

.instructions button:focus, .instructions button:active {
  outline: none;
}

.instructions-box {
  font-family: 'Hammersmith One';
  font-size: 17px;
  padding: 70px;
  padding-top: 35px;
  line-height: 2em;
  text-align: center;
}

.canvas-container {
  width: 800px !important;
  height: 500px;
  background: white;
  border-bottom-left-radius: 10px;
  border-top: none;
  border-right: none;
  position: relative;
}

.canvas-container canvas {
  position: absolute;
  bottom: 50px;
  right: 120px ;
}

.canvas-container img {
  position: absolute;
  width: 550px;
  bottom: 13px;
  right: 105px;
}
