body {
  // background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(254,187,187,1) 100%);
  background: url('../images/Relay.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.main-div {
  display: flex;
  justify-content: space-between;
}

.header {
  height: 80px;
  width: 100%;
  background: #212021;
  text-align: center;
}

.header h1 {
  font-family: 'Hammersmith One';
  color: #BD246C;
  font-size: 50px;
  padding-top: 15px;
  text-shadow:
    -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white;
}

.instructions {
  width: 600px;
  height: 400px;
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}


.text {
  position: absolute;
  bottom: -50px;
  left: -75px;
  width: 720px;
  z-index: -1;
}

.cat {
  position: absolute;
  bottom: -90px;
  left: 130px;
  width: 150px;
}

.instructions-box {
  position: absolute;
  top: 70px;
  font-family: 'Hammersmith One';
  font-size: 20px;
  width: 400px;
  line-height: 2em;
  text-align: center;
}

.demo-btn {
  position: absolute;
  bottom: -100px;
  right: 60px;
  width: 150px;
  height: 40px;
  border-radius: 20px;
  font-family: 'Hammersmith One';
  font-size: 20px;
  transition: .5s;
}

.demo-btn:hover {
  cursor: pointer;
  background: lightcoral;
  color: white;
}

.start-btn:disabled, .demo-btn:disabled {
  background: darkgrey;
  color: white;
}

.start-btn:disabled:hover, .demo-btn:disabled:hover {
    cursor: not-allowed;
}

.start-btn {
  position: absolute;
  bottom: -40px;
  right: 60px;
  width: 150px;
  height: 40px;
  border-radius: 20px;
  font-family: 'Hammersmith One';
  font-size: 20px;
  transition: .5s;
}

.start-btn:hover {
  cursor: pointer;
  background: lightcoral;
  color: white;
}

.instructions button:focus, .instructions button:active {
  outline: none;
}


.canvas-container {
  width: 800px !important;
  height: 500px;
  background: white;
  border-bottom-left-radius: 10px;
  border: 8px solid black;
  border-top: none;
  border-right: none;
  position: relative;
}

.canvas {
  position: absolute;
  bottom: 100px;
  right: 60px ;
}

.canvas2 { 
  position: absolute;
  bottom: 100px;
  right: 60px ;
  background: transparent;
  z-index: 1;
}

.canvas-container img {
  position: absolute;
  width: 550px;
  bottom: 33px;
  right: 105px;
}

.letter-shower {
  font-family: "Hammersmith One";
  font-size: 100px;
  text-align: center;
  padding-top: 20px;
  padding-right: 30px;
}

.message-box {
  text-align: center;
  font-family: "Hammersmith One";
  font-size: 30px;
  padding-top: 30px;
  color: #B03F90;
}

.bad {
  color: #E75F23;
}

.good {
  color: #16BD99;
}

.hidden {
  display: none;
}